<div class="row">
  <div class="col-3">
    
  <div class="list-group">
<a routerLink="/" [class.active]="!category"  class="list-group-item list-group-item-action" >All Categories</a>
    <a *ngFor="let c of categories$ | async" class="list-group-item list-group-item-action"
         routerLink="/"
         [queryParams]="{category:c.$key}" 
         [class.active]="category===c.$key"
         >{{c.name}} </a>
  </div>


  </div>

  <div class="col">

    <div class="row">
        <ng-container   *ngFor="let product of filteredProducts; let i = index">
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl"alt="">
                    <div class="card-body">
                      <h5 class="card-title"> {{product.title}}</h5>
                      <p class="card-text">{{product.price | currency:'USD':'true'}}</p>
                      <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                
                </div>  
            </div>
            <div class="w-100" *ngIf="(i+1)%3===0"></div>
        </ng-container>
      
      </div>
  </div>
      
</div>




