@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: left;
  }
  .dropdown-item{
    cursor: pointer;
  }


  .card{
    height:90%;
    width: 90%;
  }